$green-color: rgb(240, 255, 250);

.card_modal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 3fr 1fr;
  gap: 30px 30px;
  margin: 50px auto;
  width: fit-content;
  font-size: 16px;

  .card_modal__button-back-wrap {
    grid-area: 3 / 1 / 4 / 3;
    display: flex;
    justify-content: center;
    align-self: center;

    .card_modal__button-back {
      width: 150px;
      height: 50px;
      border: 1px black solid;
      border-radius: 5px;
      background-color: rgb(255, 255, 255);
      font-size: 1.5rem;
      transition: 0.1s linear;

      &:hover {
        background-color: rgb(175, 221, 107);
        cursor: pointer;
      }
    }
  }

  .card_modal__header {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 54px;
    text-align: center;
    font-family: 'RimFont';
    color: rgb(151, 231, 29);
    text-shadow: 0px 0px 3px rgb(0, 0, 0);

    @media (max-width: 800px) {
      font-size: 34px;
    }
  }

  .card_modal__pic-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    .card_modal__pic {
      @media (max-width: 800px) {
        width: 40vw;
        height: 40vw;
      }
    }
  }

  .card_modal__description {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;    

    @media (max-width: 900px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    .card_modal__small-header {
      font-size: 22px;

    @media (max-width: 800px) {
      font-size: 20px;
    }

      @media (max-width: 600px) {
        font-size: 18px;
      }
    }
  }
}

.main__loading,
.main__error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}