.header {
  height: 80px;
  background-color: rgb(197, 240, 133);
  margin: 10px;
  border-radius: 20px;
  padding: 15px 150px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;         
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;              
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;    

  .header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 32px;
    color: rgb(0, 51, 4);
  }

  .header__link {
    transition: 0.5s ease-out;
    color: rgb(56, 37, 92);
    text-decoration: none;
        
    &:hover {
      color: rgb(184, 0, 138);
      text-shadow: rgb(229, 145, 255) 1px 1px 1px;
    }
    
    &:active {
      color: rgb(51, 0, 38);
    }
  }
  
  @media (max-width: 850px) {
    padding: 15px 50px;
  }
}